<center>Admins and DJs: <a href="admin">Log in here...</a> (user/pass is the same as your IRCBot user/pass)<br />All code is Copyright 2007-{$smarty.now|date_format:"%Y"} ShoutIRC.com and licensed under the GPL. Template engine is provided by <a href="http://www.smarty.net/" target="_blank">Smarty</a>.<br /><font size=-1>Queries used: {$db_queries}</font></center>
</body></html>
